<div class="dataPicker">
  <mat-form-field>
    <mat-label>lançamento</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" 
    [(ngModel)]="dataDoLevantameto" placeholder="Escolha uma data" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
        
<!--

  <mat-form-field>
    <mat-label>Different locale</mat-label>
    <input matInput [matDatepicker]="dp">
    <mat-hint>{{getDateFormatString()}}</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <button mat-button (click)="french()">Dynamically switch to French</button>
-->

</div>
