

.spinnerSimples{
  position: fixed;
  background: rgba(0, 0, 0, .2);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0px;
  left: 0px;
  z-index: 200;
  padding-top: 150px;
}

/*

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  .example-card {
    margin-bottom: 10px;
  }
  
*/