<div class="divTable">
    <section class="container mat-elevation-z8" tabindex="0">
        <table class="tabelaLancamentos" mat-table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="identidade">
            <th mat-header-cell *matHeaderCellDef> id entidade </th>
            <td mat-cell *matCellDef="let element"> {{element.identidade}} </td>
        </ng-container>
            
        <!-- Name Column -->
        <ng-container matColumnDef="razaosocial">
            <th mat-header-cell *matHeaderCellDef> Razão Social </th>
            <td mat-cell *matCellDef="let element"> {{element.razaosocial}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="classe">
            <th mat-header-cell *matHeaderCellDef> classe </th>
            <td mat-cell *matCellDef="let element"> {{element.classe}} </td>
        </ng-container>

        <ng-container matColumnDef="subclasse">
            <th mat-header-cell *matHeaderCellDef> sub-Classe </th>
            <td mat-cell *matCellDef="let element"> {{element.subclasse}} </td>
        </ng-container>
    
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        
        <!-- Symbol Column -->
        <ng-container matColumnDef="infad">
            <th mat-header-cell *matHeaderCellDef> infad </th>
            <td mat-cell *matCellDef="let element"> {{element.infad}} </td>
        </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="selecionar">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">
                    <button class="btn btn-success" (click)="selecionarElement(element)">
                        Selecionar
                    </button></td>
        </ng-container>        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="height: 10px"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 10px"></tr>
        </table>
    </section>
</div>